*.class
*.pyc
*.pyo
database.sqlite
projecttools/sitestatic
.settings
.pydevproject
projecttools/apache/*
!projecttools/apache/projecttools_example.wsgi
projecttools/settings*.py
!projecttools/settings_example.py
!projecttools/settings.py
virtualenv/*
!virtualenv/readme.txt
