<!DOCTYPE html>
<html>
    <head profile="http://www.w3.org/2005/10/profile">
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% url main_css %}" type="text/css" media="screen, projection"/>
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon.png" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}ajaxcsrf.js"></script>
        <script type="text/javascript">
            {% block js %}{% endblock js %}
        </script>
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div class="pagemargins">
            <div class="topmenu">
                <div class="topmenuleft">
                    {% block topmenuleft %}{% endblock topmenuleft %}
                </div>
                <div class="topmenuright">
                    {% block topmenuright %}{% endblock topmenuright %}
                </div>
            </div>
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
