{% load timesheettags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}ajaxcsrf.js"></script>
        <script type="text/javascript">
            
            // When document is ready
            $(document).ready(function() {
                // display/start clock, depending on state
                {% if topTaskEntry %}
	                var startDate = new Date("{{ topTaskEntry.start|date:'r' }}");
	                {% if state == "paused" %}
		                var endDate = new Date("{{ topTaskEntry.end|date:'r' }}");
		                updateClock(startDate, endDate);
	                {% else %}
	                	startClock(startDate);
	                {% endif %}
                {% else %}
					updateClock(new Date(), new Date());
                {% endif %}
                
                // bind comment field blur handler
                $("input#comment").blur(function() {
                    $.post("/", {comment: $("input#comment").val()});
                });
            });
            
            // Starts the clock
            function startClock(startDate) {
                updateClock(startDate, new Date());
                setInterval(function() {updateClock(startDate, new Date())}, 1000)
            }
            
            // Updates the clock
            function updateClock(startDate, endDate) {
                var duration = endDate.getTime() - startDate.getTime();
                hours = Math.floor(duration / (3600 * 1000));
                duration = duration - (hours * 3600 * 1000);
                minutes = Math.floor(duration / (60 * 1000));
                duration = duration - (minutes * 60 * 1000);
                seconds = Math.floor(duration / 1000);
                $("#clock").html(hours + "h " + minutes + "m " + seconds + "s");
            }            
            
        </script>
        <title>Zeiterfassung: Uhr für {{ currentCustomer.name }}</title>
    </head>
    <body>
    	{% if currentCustomer %}
        	<a href="/customer/{{ currentCustomer.id }}/report/">Report</a>
        {% endif %}
        <h1>Uhr für {{ currentCustomer.name }}: <span id="clock"></div></h1>
        <div>
            Kommentar: <input id="comment" type="text" size="40" name="comment" value="{{ topTaskEntry.comment }}" />
        </div>
        <h2>Steuerung</h2>
        <ul>
        	{% if currentCustomer %}
	            {% if state == "paused" %}
	                <li><form action="" method="post" id="resumeform" style="margin: 0px;"><a href="" id="resumelink"><b>Start</b></a><input type="hidden" name="command" value="resume" /><input type="hidden" name="customer" value="{{ currentCustomer.id }}" /></form></li>
	                <script type="text/javascript">$(document).ready(function() {$("#resumelink").click(function() {$("#resumeform").submit();return false;})});</script>
	            {% else %}
	                <li><form action="" method="post" id="pauseform" style="margin: 0px;"><a href="" id="pauselink">Stop</a><input type="hidden" name="command" value="pause" /></form></li>
	                <script type="text/javascript">$(document).ready(function() {$("#pauseform").click(function() {$("#pauseform").submit();return false;})});</script>
	            {% endif %}
	        {% endif %}
            
            {% for customer in customers %}
                {% if customer == currentCustomer %}
                    {% if state == "running" %}
                        <li><b><i>{{ customer.name }}</i></b></li>
                    {% else %}
                        <li><form action="" method="post" id="customerresumeform{{ customer.id }}" style="margin: 0px;"><a href="" id="customerresumelink{{ customer.id }}"><i>{{ customer.name }}</i></a><input type="hidden" name="command" value="resume" /><input type="hidden" name="customer" value="{{ customer.id }}" /></form></li>
                        <script type="text/javascript">$(document).ready(function() {$("#customerresumelink{{ customer.id }}").click(function() {$("#customerresumeform{{ customer.id }}").submit();return false;})});</script>
                    {% endif %}
                {% else %}
                    <li><form action="" method="post" id="customerresumeform{{ customer.id }}" style="margin: 0px;"><a href="" id="customerresumelink{{ customer.id }}">{{ customer.name }}</a><input type="hidden" name="command" value="resume" /><input type="hidden" name="customer" value="{{ customer.id }}" /></form></li>
                    <script type="text/javascript">$(document).ready(function() {$("#customerresumelink{{ customer.id }}").click(function() {$("#customerresumeform{{ customer.id }}").submit();return false;})});</script>
                {% endif %}
            {% endfor %}
        </ul>
        <h2>Protokoll</h2>
        <table>
            {% for entry in entries %}
                <tr>
                    <td><a href="/customer/{{ entry.customer.id }}/report/">{{ entry.customer.name }}</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.start|date:"d.h.Y H.i" }} - {{ entry.end|date:"d.h.Y H.i" }}</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.duration|duration:"%h:%m" }}</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">({{ entry.duration|duration:"%oh" }})</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.comment }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
