{% load timesheettags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" media="screen" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}ajaxcsrf.js"></script>
        <script type="text/javascript">
            
            // When document is ready
            $(document).ready(function() {
                // display/start clock, depending on state
                {% if topTaskEntry %}
                	// The "-1" is necessary because the months (and only the months!) are zero based.
	                var startDate = new Date({{ topTaskEntry.start|date:'Y, n-1, j, G, i, s, 0' }});
	                {% if state == "paused" %}
		                var endDate = new Date({{ topTaskEntry.end|date:'Y, n-1, j, G, i, s, 0' }});
		                updateClock(startDate, endDate);
	                {% else %}
	                	startClock(startDate);
	                {% endif %}
                {% else %}
					updateClock(new Date(), new Date());
                {% endif %}
                
                {% if state == "running" %}
                	// post the comment if we leave the form
	                $("input#comment").blur(function() {
	                	$("form#commentform").submit();
	                });
	                
	                // post the comment if we press enter
	                $("input#comment").keypress(function(event) {
	                	if (event.which == 13) {
	                		$("form#commentform").submit();
	                	}
	                });
	            {% else %}
	            	$("input#comment").keypress(function(event) {
	                	if (event.which == 13) {
	                		$("input#comment").blur();
	                		return false;
	                	}
	                });
                {% endif %}
            });
            
            // Starts the clock
            function startClock(startDate) {
                updateClock(startDate, new Date());
                setInterval(function() {updateClock(startDate, new Date())}, 1000)
            }
            
            // Updates the clock
            function updateClock(startDate, endDate) {
                var duration = endDate.getTime() - startDate.getTime();
                hours = Math.floor(duration / (3600 * 1000));
                duration = duration - (hours * 3600 * 1000);
                minutes = Math.floor(duration / (60 * 1000));
                duration = duration - (minutes * 60 * 1000);
                seconds = Math.floor(duration / 1000);
                $("#clock").html(hours + "h " + minutes + "m " + seconds + "s");
            }            
            
        </script>
        {% if currentCustomer %}
        	<title>Zeiterfassung: Uhr für {{ currentCustomer.name }}</title>
       	{% else %}
       		<title>Zeiterfassung</title>
        {% endif %}
    </head>
    <body>
    	{% if currentCustomer %}
        	<a href="/customer/{{ currentCustomer.id }}/report/{{ now|date:'Y' }}/{{ now|date:'m' }}/">Report</a>
        	<h1>Uhr für {{ currentCustomer.name }}: <span id="clock"></div></h1>
        {% else %}
        	<h1>Uhr</h1>
        {% endif %}
        <div>
        	<form action="" method="post" id="commentform">
            	Kommentar: <input id="comment" type="text" size="40" name="comment" value="{{ topTaskEntry.comment }}" />
            </form>
        </div>
        <h2>Steuerung</h2>
        <ul>
        	{% if currentCustomer %}
	            {% if state == "paused" %}
	                <li class="pauseresume"><form action="" method="post" id="resumeform" style="margin: 0px;"><a href="" id="resumelink">Start</a><input type="hidden" name="command" value="resume" /><input type="hidden" name="customer" value="{{ currentCustomer.id }}" /></form></li>
	                <script type="text/javascript">$(document).ready(function() {$("#resumelink").click(function() {$("#resumeform").append($('<input>').attr({type: "hidden", name: "comment", value: $("input#comment").val()}));$("#resumeform").submit();return false;})});</script>
	            {% else %}
	                <li class="pauseresume"><form action="" method="post" id="pauseform" style="margin: 0px;"><a href="" id="pauselink">Stop</a><input type="hidden" name="command" value="pause" /></form></li>
	                <script type="text/javascript">$(document).ready(function() {$("#pauselink").click(function() {$("#pauseform").submit();return false;})});</script>
	            {% endif %}
	        {% endif %}
            
            {% for customer in customers %}
                {% if customer == currentCustomer %}
                    {% if state == "running" %}
                        <li><b>{{ customer.name }}</b></li>
                    {% else %}
                        <li><form action="" method="post" id="customerresumeform{{ customer.id }}" style="margin: 0px;"><a href="" id="customerresumelink{{ customer.id }}"><b>{{ customer.name }}</b></a><input type="hidden" name="command" value="resume" /><input type="hidden" name="customer" value="{{ customer.id }}" /></form></li>
                        <script type="text/javascript">$(document).ready(function() {$("#customerresumelink{{ customer.id }}").click(function() {$("#customerresumeform{{ customer.id }}").append($('<input>').attr({type: "hidden", name: "comment", value: $("input#comment").val()}));$("#customerresumeform{{ customer.id }}").submit();return false;})});</script>
                    {% endif %}
                {% else %}
                    <li><form action="" method="post" id="customerresumeform{{ customer.id }}" style="margin: 0px;"><a href="" id="customerresumelink{{ customer.id }}">{{ customer.name }}</a><input type="hidden" name="command" value="resume" /><input type="hidden" name="customer" value="{{ customer.id }}" /></form></li>
                    <script type="text/javascript">$(document).ready(function() {$("#customerresumelink{{ customer.id }}").click(function() {$("#customerresumeform{{ customer.id }}").append($('<input>').attr({type: "hidden", name: "comment", value: $("input#comment").val()}));$("#customerresumeform{{ customer.id }}").submit();return false;})});</script>
                {% endif %}
            {% endfor %}
        </ul>
        <h2>Protokoll</h2>
        <table>
            {% for entry in entries %}
                <tr>
                    <td><a href="/customer/{{ entry.customer.id }}/report/">{{ entry.customer.name }}</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.start|date:"d.m.Y H.i" }} - {{ entry.end|date:"d.m.Y H.i" }}</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.duration|duration:"%h:%m" }}</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">({{ entry.duration|duration:"%oh" }})</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.comment }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
