{% load timesheettags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" media="screen" />
        <title>Zeiterfassung: Report für {{ currentCustomer.name }}</title>
    </head>
    <body>
    	<div class="floatright">
    		{% if user.first_name or user.last_name %}
    			<a href="/logout/">{{ user.first_name }} {{ user.last_name }} Abmelden</a>
    		{% else %}
    			<a href="/logout/">{{ user.username }} Abmelden</a>
			{% endif %}
    	</div>
        <a href="/">Uhr</a> | <a href="/admin/">Admin</a>
        {% if year %}
        	{% if month %}
        		<h1>Report für {{ currentCustomer.name }} für {{ currentYearAndMonth|date:"F" }} {{ currentYearAndMonth|date:"Y" }}</h1>
        	{% else %}
        		<h1>Report für {{ currentCustomer.name }} für {{ currentYearAndMonth|date:"Y" }}</h1>
        	{% endif %}        	
        {% else %}
        	<h1>Report für {{ currentCustomer.name }}</h1>
        {% endif %}
        <table>
            {% for entry in entries %}
                <tr>
                    <td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.start|date:"d.m.Y H.i" }} - {{ entry.end|date:"d.m.Y H.i" }}</a></td><td align="right"><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.duration|duration:"%H:%m" }}</a></td><td align="right"><a href="/admin/timesheet/entry/{{ entry.id }}/">({{ entry.duration|duration:"%Oh" }})</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.comment }}</a></td>
                </tr>
            {% endfor %}
            <tr>
            	<td><b>Total</b></td>
            	<td>{{ totalDuration|duration:"%H:%m" }}</td>
            	<td>({{ totalDuration|duration:"%Oh" }})</td>
            	<td>&nbsp;</td>
            </tr>
        </table>
        {% if year %}
        	{% if month %}
        		<a href="/customer/{{ currentCustomer.id }}/report.csv/{{ year }}/{{ month }}/">Als CSV herunterladen</a>
        	{% else %}
        		<a href="/customer/{{ currentCustomer.id }}/report.csv/{{ year }}/">Als CSV herunterladen</a>
        	{% endif %}        	
        {% else %}
        	<a href="/customer/{{ currentCustomer.id }}/report.csv/">Als CSV herunterladen</a>
        {% endif %}
    	<h2>Nach Monaten</h2>
    	<ul>
    		{% for availableYearAndMonth in availableYearsAndMonths %}
    			<li><a href="/customer/{{ currentCustomer.id }}/report/{{ availableYearAndMonth|date:'Y' }}/{{ availableYearAndMonth|date:'m' }}/">{{ availableYearAndMonth|date:"F Y" }}</a></li>
    		{% endfor %}
    	</ul>
    	<h2>Nach Jahren</h2>
    	<ul>
    		{% for availableYear in availableYears %}
    			<li><a href="/customer/{{ currentCustomer.id }}/report/{{ availableYear|date:'Y' }}/">{{ availableYear|date:"Y" }}</a></li>
    		{% endfor %}
    	</ul>
        {% if customers.count > 1 %}
	        <h2>Weitere Kunden</h2>
	        <ul>
	            {% for customer in customers %}
	                {% if customer != currentCustomer %}
	                <li><a href="/customer/{{ customer.id }}/report">{{ customer.name }}</a></li>
	                {% endif %}
	            {% endfor %}
	        </ul>
        {% endif %}
        Feedback willkommen: <a href="mailto:twuersch@gmail.com">twuersch@gmail.com</a>
    </body>
</html>
