{% load timesheettags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" media="screen" />
        <title>Zeiterfassung: Report für {{ currentCustomer.name }}</title>
    </head>
    <body>
        <a href="/">Uhr</a>
        <h1>Report für {{ currentCustomer.name }}</h1>
        <table>
            {% for entry in entries %}
                <tr>
                    <td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.start|date:"d.h.Y H.i" }} - {{ entry.end|date:"d.h.Y H.i" }}</a></td><td align="right"><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.duration|duration:"%H:%m" }}</a></td><td align="right"><a href="/admin/timesheet/entry/{{ entry.id }}/">({{ entry.duration|duration:"%Oh" }})</a></td><td><a href="/admin/timesheet/entry/{{ entry.id }}/">{{ entry.comment }}</a></td>
                </tr>
            {% endfor %}
            <tr>
            	<td><b>Total</b></td>
            	<td>{{ totalDuration|duration:"%H:%m" }}</td>
            	<td>({{ totalDuration|duration:"%Oh" }})</td>
            	<td>&nbsp;</td>
            </tr>
        </table>
        <a href="/customer/{{ currentCustomer.id }}/report.csv/">CSV</a>
        {% if customers.count > 1 %}
	        <h2>Weitere Kunden</h2>
	        <ul>
	            {% for customer in customers %}
	                {% if customer != currentCustomer %}
	                <li><a href="/customer/{{ customer.id }}/report.csv">{{ customer.name }}</a></li>
	                {% endif %}
	            {% endfor %}
	        </ul>
        {% endif %}
    </body>
</html>
