<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Zeiterfassung: Login.</title>
    </head>
    <body>
        <form method="post" action="">
	        {% csrf_token %}
	        <table>
		        <tr>
		            <td>Benutzername</td>
		            <td>{{ authenticationForm.username }}</td>
		            <td>{{ authenticationForm.username.errors }}</td>
		        </tr>
		        <tr>
		            <td>Passwort</td>
		            <td>{{ authenticationForm.password }}</td>
		            <td>&nbsp;</td>
		        </tr>
		        <tr>
		        	<td colspan="2">
		        		<input type="submit" value="login" />
	        			<input type="hidden" name="next" value="{{ next }}" />
		        	</td>
		        </tr>
		        <tr>
		        	<td colspan="2"><a href="/register">Ich habe noch keinen Benutzernamen.</a></td>
		        </tr>
	        </table>
        </form>
    </body>
</html>
